# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.env/

# Environment variables
.env

# VSCode settings
.vscode/

# Logs
*.log

# Editor swap/backup files
*~
*.swp