version: "3.9"

services:
  frontend:
    # build:
    #   context: ./frontend
    #   dockerfile: Dockerfile
    image: w1zdom/ai-summarizer-ui
    container_name: ai-summarizer
    ports:
      - "8080:80"

  backend:
    # build:
    #   context: ./backend
    #   dockerfile: Dockerfile
    image: w1zdom/ai-summarizer-backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18
    container_name: postgres-db
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
